@font-face {
  font-family: "Calculator";
  src: url("/woff2/digital-7.mono.woff2") format("woff2");
}
@font-face {
  font-family: "LineIcons";
  src: url("/woff2/fa-regular-400.woff2") format("woff2");
}
@font-face {
  font-family: "BrandIcons";
  src: url("/woff2/fa-brands-400.woff2") format("woff2");
}

/* Calculator body */
address {
  transform: rotate(-4deg);
  transition: transform 300ms, box-shadow 300ms;

  display: grid;
  width: 230px;
  height: 300px;
  padding: 30px;
  gap: 30px;

  --body-highlight: inset 8px 8px 8px rgba(255, 255, 255, 0.6);
  --body-shadow: inset -8px -8px 8px rgba(0, 0, 0, 0.4);
  --heavy-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  --soft-shadow: 16px 16px 32px rgba(0, 0, 0, 0.2);
  background-color: #cccbd7;
  border-radius: 16px;
  box-shadow: var(--heavy-shadow), var(--body-highlight), var(--soft-shadow), var(--body-shadow);
}

address:hover {
  --body-highlight: inset 8px 8px 8px rgba(255, 255, 255, 0.6);
  --body-shadow: inset -8px -8px 8px rgba(0, 0, 0, 0.4);
  --heavy-shadow: 4px 4px 8px rgba(0, 0, 0, 0);
  --soft-shadow: 48px 48px 64px rgba(0, 0, 0, 0.1);
  box-shadow: var(--heavy-shadow), var(--body-highlight), var(--soft-shadow), var(--body-shadow);

  transform: rotate(-2deg) scale(1.15);
}

/* Calculator screen */
address::before {
  content: "";

  grid-column: 1 / span 2;
  width: 100%;
  height: 80px;

  background: #cccbd7;
  border-radius: 7px;
  box-shadow: inset 5px 5px 13px #bebdc8, inset -5px -5px 13px #dad9e6;
}

/* Calculator title */
address::after {
  content: "MY SOCIALS";

  position: absolute;
  top: 120px;
  width: 100%;
  text-align: center;

  color: #999;
  font-family: "Courier New", monospace;
  font-style: normal;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
}

/* Calculator button */
address > a {
  position: relative;
  z-index: 1;

  width: 70px;
  height: 70px;
  margin: auto;

  cursor: alias;

  font-size: 0;
  text-decoration: none;

  border-radius: 50px;
  background-image: linear-gradient(145deg, #dad9e6, #b8b7c2);
  box-shadow: 10px 10px 20px #adadb7, -10px -10px 20px #ebe9f7;
}

/* Calculator button depressed */
address > a:active {
  background-image: linear-gradient(145deg, #cccbd7, #cccbd7);
  box-shadow: inset 10px 10px 20px #adadb7, inset -10px -10px 20px #ebe9f7;

  /* alternative depression shape */
  /* background: linear-gradient(145deg, #b8b7c2, #dad9e6); */
  /* box-shadow: 10px 10px 20px #adadb7, -10px -10px 20px #ebe9f7; */
}

/* Calculator screen placeholder text */
address > a::before {
  position: fixed;
  top: 40px;
  left: 45px;

  font-family: "Calculator";
  font-style: normal;
  font-size: 48px;
  pointer-events: none;

  /* Note: this content is rendered once per contact button (4x at time of writing) */
  /* (Which is why it won't dissapear unless you were to hover on all contact buttons simultaneously) */
  content: "888888888";
  color: #000;
  opacity: 0.01;
}

/* Calculator screen link text : before hover */
address > a:hover::before {
  transition: opacity 300ms;
  opacity: 1;
}

/* Calculator screen instagram text : on hover */
address > a[href*="instagram"]:hover::before {
  content: "instagram";

  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: rgba(255, 125, 125, 1) -1px 1px 20px;
}
@keyframes loading {
  0% {
    content: "loading";
    opacity: 1;
  }
  33% {
    content: "loading";
    opacity: 1;
  }
  66% {
    content: "loading.";
    opacity: 1;
  }
  100% {
    content: "loading..";
    opacity: 1;
  }
}
address > a:focus::before {
  animation: 300ms infinite alternate loading;
}

/* Calculator screen github text : on hover */
address > a[href*="github"]:hover::before {
  /* address > a::before:before { */
  content: "github";

  background: radial-gradient(circle, rgba(64, 78, 152, 1) 20%, rgba(0, 0, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: rgba(0, 0, 0, 0.3) -1px 1px 10px;
}

/* Calculator screen linkedin text : on hover */
address > a[href*="linkedin"]:hover::before {
  content: "linkedin";

  background: radial-gradient(circle, rgba(24, 118, 213, 1) 0%, rgba(10, 102, 194, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: rgba(10, 102, 194, 0.2) -1px 1px 10px, rgba(10, 102, 194, 0.4) -1px 1px 40px;
}

/* Calculator screen email text : on hover */
address > a[href*="mailto"]:hover::before {
  content: "email";

  background: radial-gradient(circle, rgba(238, 157, 0, 1) 0%, rgba(175, 150, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: rgba(255, 200, 0, 0.2) -1px 1px 10px, rgba(255, 200, 0, 0.5) -1px 1px 40px;
}

/* Calculator button : base */
address > a::after {
  font-family: "BrandIcons";
  font-weight: 500;
  font-size: 3rem;
  font-style: normal;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: filter 300ms, transform 300ms;
  filter: saturate(1);
}

/* Calculator button : on click */
address > a:checked {
  border-radius: 50%;
  background: #cccbd7;
  box-shadow: inset 8px 8px 16px #adadb7, inset -8px -8px 16px #ebe9f7;
}

/* Calculator button : instagram */
address > a[href*="instagram"]::after {
  content: "\f16d";

  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: rgba(255, 125, 125, 1) -1px 1px 20px;
}

/* Calculator button : github */
address > a[href*="github"]::after {
  content: "\f09b";

  background: radial-gradient(circle, rgba(64, 78, 152, 1) 20%, rgba(0, 0, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: rgba(0, 0, 0, 0.3) -1px 1px 10px;
}

/* Calculator button : linkedin */
address > a[href*="linkedin"]::after {
  content: "\f08c";

  background: radial-gradient(circle, rgba(24, 118, 213, 1) 0%, rgba(10, 102, 194, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: rgba(10, 102, 194, 0.2) -1px 1px 2px, rgba(10, 102, 194, 0.4) -1px 1px 40px;
}

/* Calculator button : email */
address > a[href*="mailto"]::after {
  font-family: "LineIcons";
  font-size: 2.5rem;
  content: "\f0e0";

  background: rgb(193, 157, 0);
  background: radial-gradient(circle, rgba(238, 157, 0, 1) 0%, rgba(175, 150, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: rgba(255, 200, 0, 0.2) -1px 1px 2px, rgba(255, 200, 0, 0.5) -1px 1px 40px;
}
