nav {
  display: none;
}
a {
  display: none;
}
section {
  display: none;
}

@keyframes text-pop {
  from {
    opacity: 0;
    transform: translate(0, 20px);
  }
  to {
    opacity: 1;
    transform: unset;
  }
}

#intro {
  display: block;
}

h2 {
  display: block;

  animation-name: text-pop;
  animation-duration: 1s;
}
