body {
  background-color: #6e8b5b;

  display: grid;
  grid-template-columns: fit-content(70%) auto;

  overflow-x: hidden;
  /* -ms-overflow-style: none; /1* IE and Edge *1/ */
  /* scrollbar-width: none; /1* Firefox *1/ */
}
body::-webkit-scrollbar {
  /* display: none; */
}

body > nav {
  grid-column: 1 / 1;
  grid-row: 1 / span 2;
}

body > section {
  grid-column: 1 / 1;
  grid-row: 1 / span 2;
}

body > header {
  grid-column: 2 / span 1;
  grid-row: 1 / 1;
}

body > address {
  grid-column: 2 / span 1;
  grid-row: 2 / 2;
}

/* header, */
/* address, */
/* nav, */
/* aside { */
/*   display: none !important; */
/* } */
