body {
  background: var(--c-bg);
  color: var(--c-fg);

  display: grid;
  grid-template-columns: 100dvw;
  grid-template-rows: 100dvh;
  justify-content: center;
  align-items: center;

  overflow-y: hidden;
  width: 100svw;
  height: 100svh;
}
body::-webkit-scrollbar {
  display: none;
}
