body {
  height: 100%;
  background: linear-gradient(217deg, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.3), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0) 70.71%);
  min-height: 100vh;
  padding: 40px max(calc(100vw - 1150px) / 2, 0px);
  margin-bottom: 40px;

  display: grid;
  grid-template-columns: fit-content(70%) auto;
  grid-template-rows: 40svh 50svh 50svh;

  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

body > section,
body > aside {
  grid-column: 1 / 1;
  grid-row: 1 / span 2;
}

body > header {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;

  z-index: 1;
  margin: 40px;
}

body > address {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;

  z-index: 2;
  margin: 40px;
}
@media only screen and (max-width: 1150px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    display: grid;
    grid-template-columns: fit-content(50svw) fit-content(50svw);
    grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
  }
  body > header {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    z-index: 3;
  }
  body > address {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  body > section,
  body > aside,
  body > nav {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
  }
}
