@font-face {
  font-family: "Calculator";
  src: url("/woff2/digital-7.mono.woff2") format("woff2");
}
@font-face {
  font-family: "LineIcons";
  src: url("/woff2/fa-regular-400.woff2") format("woff2");
}
@font-face {
  font-family: "BrandIcons";
  src: url("/woff2/fa-brands-400.woff2") format("woff2");
}

/* Body of calculator */
address {
  transform: rotate(-2deg);

  background-color: #cccbd7;
  border-radius: 16px;
  --body-highlight: inset 4px 4px 16px rgba(255, 255, 255, 1);
  --body-shadow: inset -4px -4px 16px rgba(0, 0, 0, 1);
  --heavy-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  --soft-shadow: 16px 16px 32px rgba(0, 0, 0, 0.2);
  box-shadow: var(--heavy-shadow), var(--body-highlight), var(--soft-shadow), var(--body-shadow);

  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  padding: 30px;
}

/* Screen of calculator */
address::before {
  content: "";
  background: #000;
  grid-column: 1 / span 2;
  width: 100%;
  height: 80px;

  margin-bottom: 10px;

  border-radius: 7px;
  background: #cccbd7;
  box-shadow: inset 5px 5px 13px #bebdc8, inset -5px -5px 13px #dad9e6;
}

/* Calculator label */
address::after {
  color: #999;
  font-family: "Courier New", monospace;
  font-style: normal;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;

  position: absolute;
  top: 120px;
  right: 35px;

  content: "CONTACTULATOR 9000";

  content: "MY SOCIALS";
  right: 35%;
}

/* Calculator button */
address > a {
  width: 100px;
  height: 100px;

  cursor: alias;

  position: relative;
  background-image: linear-gradient(145deg, #dad9e6, #b8b7c2);
  z-index: 1;

  border-radius: 50px;
  /* background: linear-gradient(145deg, #dad9e6, #b8b7c2); */
  box-shadow: 10px 10px 20px #adadb7, -10px -10px 20px #ebe9f7;

  font-size: 0;
  text-decoration: none;

  background-color: #f00;
}
address > a:active {
  background-image: linear-gradient(145deg, #cccbd7, #cccbd7);
  box-shadow: inset 10px 10px 20px #adadb7, inset -10px -10px 20px #ebe9f7;
}

/* ----------------------------------- Button gradient change */
/* address > a::before { */
/*   position: absolute; */
/*   content: ""; */
/*   top: 0; */
/*   right: 0; */
/*   bottom: 0; */
/*   left: 0; */
/*   background-image: linear-gradient(145deg, #b8b7c2, #dad9e6); */
/*   z-index: -1; */
/*   transition: opacity 0.3s linear; */
/*   opacity: 0; */

/*   border-radius: 50px; */
/*   /1* background: linear-gradient(145deg, #b8b7c2, #dad9e6); *1/ */
/*   /1* box-shadow: 10px 10px 20px #adadb7, -10px -10px 20px #ebe9f7; *1/ */
/* } */
/* address > a:hover::before { */
/*   opacity: 1; */
/* } */
/* address > a:active::before { */
/*   transition: opacity 0 linear; */
/*   opacity: 0; */
/* } */

/* Calculator screen text */
address > a::before {
  position: fixed;
  top: 40px;
  left: 45px;
  max-width: 200px;

  font-family: "Calculator";
  font-style: normal;
  font-size: 3rem;
  /* font-weight: 600; */
  pointer-events: none;

  /* Note: this content is rendered once per contact button (4x at time of writing) */
  /* (Which is why it won't dissapear unless you were to hover on all contact buttons simultaneously) */
  content: "000000000";
  color: #000;
  opacity: 0.01;
}
address > a:hover::before {
  word-wrap: break-word;
  transition: opacity 300ms;

  opacity: 1;
}
address > a[href*="instagram"]:hover::before {
  content: "instagram";

  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: rgba(255, 125, 125, 1) -1px 1px 20px;
}
address > a[href*="github"]:hover::before {
  /* address > a::before:before { */
  content: "github";

  background: radial-gradient(circle, rgba(64, 78, 152, 1) 20%, rgba(0, 0, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: rgba(0, 0, 0, 0.3) -1px 1px 10px;
}
address > a[href*="linkedin"]:hover::before {
  content: "linkedin";

  background: radial-gradient(circle, rgba(24, 118, 213, 1) 0%, rgba(10, 102, 194, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: rgba(10, 102, 194, 0.2) -1px 1px 10px, rgba(10, 102, 194, 0.5) -1px 1px 40px;
}
address > a[href*="mailto"]:hover::before {
  content: "email me";

  background: radial-gradient(circle, rgba(238, 157, 0, 1) 0%, rgba(120, 80, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: rgba(255, 200, 0, 0.2) -1px 1px 10px, rgba(255, 200, 0, 0.5) -1px 1px 40px;
}

/* ----------------------------------- Button icon */
address > a::after {
  font-family: "BrandIcons";
  font-weight: 500;
  font-size: 3rem;
  font-style: normal;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: filter 300ms, transform 300ms;
  filter: saturate(1);
}
address > a:checked {
  border-radius: 50%;
  background: #cccbd7;
  box-shadow: inset 8px 8px 16px #adadb7, inset -8px -8px 16px #ebe9f7;
}

/* apply icons */
address > a[href*="instagram"]::after {
  content: "\f16d";

  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: rgba(255, 125, 125, 1) -1px 1px 20px;
}
address > a[href*="github"]::after {
  content: "\f09b";

  background: radial-gradient(circle, rgba(64, 78, 152, 1) 20%, rgba(0, 0, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: rgba(0, 0, 0, 0.3) -1px 1px 10px;
}
address > a[href*="linkedin"]::after {
  content: "\f08c";

  background: radial-gradient(circle, rgba(24, 118, 213, 1) 0%, rgba(10, 102, 194, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: rgba(10, 102, 194, 0.2) -1px 1px 10px, rgba(10, 102, 194, 0.5) -1px 1px 40px;
}
address > a[href*="mailto"]::after {
  font-family: "LineIcons";
  font-size: 2.5rem;
  content: "\f0e0";

  background: rgb(193, 157, 0);
  background: radial-gradient(circle, rgba(238, 157, 0, 1) 0%, rgba(120, 80, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: rgba(255, 200, 0, 0.2) -1px 1px 10px, rgba(255, 200, 0, 0.5) -1px 1px 40px;
}
