@import "keyframes.css";
@import "fonts.css";

header {
  grid-row-start: 1;
  grid-column-start: 1;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  font-family: "Major Mono Display";
  text-transform: uppercase;
  font-weight: 100;
  font-size: 6rem;
  line-height: 6rem;
  height: 6rem;
}

header > h1 {
  grid-row-start: 1;
  grid-column-start: 1;
  place-self: center;

  margin: 0;
  width: fit-content;
  
  font-size: 6rem;
  color: #fff0;
  text-shadow: 2px 2px 4px #0000;

  animation: header-h1-in 0.3s ease-out forwards;
  animation-delay: 2s;
}

@keyframes header-h1-in {
  from {
    text-shadow: 2px 2px 4px #0000;
    color: #fff0;
  }
  to {
    text-shadow: 2px 2px 4px #000f;
    color: #ffff;
  }
}


header > svg {
  grid-row-start: 1;
  grid-column-start: 1;
  place-self: center;
  
  width: 10ch;
  height: 100%;

  padding-left: 3px;
  padding-bottom: 3px;
  
  fill: #0000;
  stroke: var(--c-fg);
  stroke-width: 2px;
  
  stroke-dasharray: 600;
  stroke-dashoffset: 600;

  transform: scaleY(0);
  animation: header-svg-in 0.2s ease-out forwards, fadeIn 0.3s ease-out forwards, outline 2s linear forwards, fadeOut 0.3s ease-in forwards;
  animation-delay: 0.35s, 0.35s, 0.2s, 2s;
}

@keyframes header-svg-in {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}