:root {
  --extra-delay: 3s;
}

@keyframes outline {
  from {
    stroke-dasharray: var(--stroke-offset);
    stroke-dashoffset: var(--stroke-offset);
  }
  to {
    stroke-dasharray: var(--stroke-offset);
    stroke-dashoffset: 0;
  }
}

@keyframes fadeInFgText {
  from {
    color: #fff0;
  }
  to {
    color: #ffff;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

:root {
  --shadow-in-radius: 15px;
  --shadow-in-animation: shadow-in 0.15s linear forwards;
  --shadow-in-delay: 3s;

  --shadow-in-0: inset 7px 7px 14px #1e322c, inset -7px -7px 14px #1e342c;
  --shadow-in-1: inset 7px 7px 14px #192b25, inset -7px -7px 14px #233b33;
  --shadow-in-2: inset 7px 7px 14px #13211c, inset -7px -7px 14px #29453c;
}

@keyframes shadow-in {
  from {
    box-shadow: var(--shadow-in-0);
  }
  50% {
    box-shadow: var(--shadow-in-1);
  }
  to {
    box-shadow: var(--shadow-in-2);
  }
}

:root {
  --shadow-bg: var(--c-bg);
  --shadow-bg-in: linear-gradient(145deg, #1b2e28, #20372f);
  --shadow-bg-out: linear-gradient(145deg, #20372f, #1b2e28);

  --shadow-out-radius: 15px;
  --shadow-out-animation: shadow-out 0.15s linear forwards;
  --shadow-out-delay: 3.3s;

  --shadow-out-0: 5px 5px 10px #1e322c, -5px -5px 10px #1e342c;
  --shadow-out-1: 5px 5px 10px #1b2d27, -5px -5px 10px #213931;
  --shadow-out-2: 5px 5px 10px #14211d, -5px -5px 10px #29453b;
}

@keyframes shadow-out {
  from {
    box-shadow: var(--shadow-out-0);
    background: var(--c-bg);
  }
  50% {
    box-shadow: var(--shadow-out-1);
    background: var(--shadow-bg-out);
  }
  to {
    box-shadow: var(--shadow-out-2);
    background: var(--shadow-bg-out);
  }
}
