nav {
  animation-delay: 6000ms;
  animation-delay: 0ms;
}

nav {
  position: relative;
  top: -100%;
  z-index: 1;

  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav > a {
  width: 120px;
  height: 50px;

  font-family: "Courier New", monospace;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.05rem;
  text-decoration: none;

  color: #fff;
  text-shadow: 2px 2px 8px #fffa, 1px 1px 1px #000a;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  background: linear-gradient(145deg, #6a515e, #59444f);
  box-shadow: 7px 7px 14px #54414b, -7px -7px 14px #725765;
}

nav > a:focus {
  color: #0003;
  text-shadow: 2px 2px 8px #0005, 1px 1px 1px #fff2;

  border-radius: 50px;
  background: #634c58;
  box-shadow: inset 7px 7px 14px #54414b, inset -7px -7px 14px #725765;
}
