@import '../../styles/font.scss';
@import '../../styles/animation.scss';
@import '../../styles/interaction.scss';

.content {
  @include font-regular;
  margin-top: 16px;
}

.quote {
  font-style: italic;
  background: #f9f9f9;
  border-left: 1px solid #ccc;
  margin: 0;
  margin-bottom: 22px;
  padding: 16px;
}

.multipleCards {
  display: flex;
}

.dataAndIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data {
  @include font-regular;
}
