import React from 'react';
import { withKnobs } from '@storybook/addon-knobs';
import { storiesOf } from '@storybook/react'
import {{pascalCase name}} from './{{pascalCase name}}'

storiesOf('Components', module)
  .addDecorator(withKnobs)
  .add('{{titleCase name}}', () => <{{pascalCase name}} />)
