@keyframes shadowPulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.6);
  }
  50% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
  }
}

@keyframes fade
{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes swipe
{
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.fadeEnter {
  opacity: 0;
  transform: translate(100%);
}

.fadeEnterActive {
  opacity: 1;
  transform: translate(0%);
  transition: opacity 400ms, transform 300ms;
  transition-timing-function: ease-out;
}

.fadeExit {
  display: none;
}

.fadeExitActive {
  display: none;
}
