@import '../../styles/layout.scss';

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  margin-top: 32px;
  width: $content-card-max-width;
  max-width: $content-card-max-width;
}
