@import '../../styles/font';

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.title {
  @include font-light;
  
  font-style: italic;
  padding: 4px;
  text-align: left;
}

.bar {
  width: 100%;
  height: 1px;
  max-height: 1px;

  background: rgb(214, 214, 214);
}

.content {
  padding: 4px;  
}
