@import '../../styles/font.scss';
@import '../../styles/interaction.scss';

.textAndAction {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    @include font-regular;
  }
}

.documentWrapper {
  max-width: 830px;
  padding: 10px;
  margin-bottom: 16px;
}

.document {
  width: 100%;
  max-width: 900px;
  height: 1200px;
  border: none;
}
