@import '../../styles/font.scss';

.link {
  @include font-regular;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  height: 36px;
  min-width: 120px;
  padding-left: 12px;
  padding-right: 12px;

  cursor: pointer;
  text-decoration: none;

  transition: box-shadow 0.4s;

  &:hover {
    box-shadow: $card-shadow
  }

  &.disabled {
    pointer-events: none;
  }
}
