@import '../../styles/font.scss';
@import '../../styles/interaction.scss';
@import '../../styles/layout.scss';

.textAndAction {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    @include font-regular;
  }
}

.documentWrapper {
  max-width: 830px;
  padding: 10px;
  margin-bottom: 16px;
}

.documentCropper {
  overflow: hidden;
}

.document {
  border: none;
  height: 1170px;
  margin: -5%;
  max-width: 900px;
  width: 130%;

  @include breakpoint(medium) {
    margin: -10%;
    max-width: 900px;
    width: 125%;
    height: 1300px;
  }
}
