@import './layout.scss';

$font-color: #111;
$font-color-light: #757575;

$font-family: 'Roboto', sans-serif;
$font-family-code: 'Roboto Mono', monospace;

@mixin font-regular {
  font-display: swap;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
  color: $font-color;
  line-height: 1.5;

  @include breakpoint(small) {
    font-size: 18px;
  }
  @include breakpoint(medium) {
    font-size: 20px;
  }
  @include breakpoint(large) {
    font-size: 22px;
  }
}

@mixin font-light {
  @include font-regular;
  color: $font-color-light;
}

@mixin font-code {
  @include font-regular;
  font-family: $font-family-code;
}
