// Breakpoints

$small-max: 499px;
$medium-max: 799px;

@mixin breakpoint($breakpoint) {
  @if $breakpoint == small {
    @media screen and (max-width: $small-max) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media screen and (min-width: $small-max + 1) and (max-width: $medium-max) {
      @content;
    }
  } @else if $breakpoint == large {
    @media screen and (min-width: $medium-max + 1) {
      @content;
    }
  }
}

// Cards

@function createCardShadow($inset: false, $blur: 0, $opacity: 1) {
  $option1: if($inset, inset, null);
  @return $option1 0 4px 5px $blur rgba(0, 0, 0, 0.14 * $opacity),
    $option1 0 1px 10px $blur rgba(0, 0, 0, 0.12 * $opacity),
    $option1 0 2px 4px $blur rgba(0, 0, 0, 0.3 * $opacity);
}

$card-shadow: createCardShadow();
$card-shadow-inset: createCardShadow(true);
$content-card-max-width: 800px;
