@import '../../styles/font';
@import '../../styles/layout';

.card {
  width: 100%;

  margin-top: 16px;
  @include breakpoint(small) {
    margin-top: 0;
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $content-card-max-width;
}

.title {
  @include font-light;
  margin-left: 32px;
}

.links {
  display: flex;
  flex-direction: row;
}

.skinnyLink {
  min-width: 0;
  width: 70px;
}

.dropDownLink {
  color: $font-color-light;
}

.mobileLink {
  padding: 32px;
}
